{% extends 'index.html' %}
{% block body %}


    {% if city_weather|length %}
    <div class="box">
        <article class="media">
            <div class="media-left">
                <figure class="image is-50x50">
                    <img src="https://openweathermap.org/img/w/{{city_weather.icon}}.png" alt="Image">
                </figure>
            </div>
            <div class="media-content">
                <div class="content">
                    <p>
                        <span class="title">{{city_weather.city}}</span>
                        <br>
                        <span class="subtitle">{{city_weather.temperature}}º {{city_weather.units}}</span>
                        <br> {{city_weather.description}}
                        <br>
                    </p>
                </div>
            </div>
            <div class="media-right">
                <div class="level">
                    <div class="level-item">
                        <i class="fas fa-location-arrow"
                            data-fa-transform="rotate--45 rotate-{{city_weather.wind.deg}}"></i>
                    </div>
                </div>
            </div>
        </article>
    </div>
    {% endif %}
{% endblock body %}